*.dll
*.exe
.DS_Store
example.tf
.terraform.lock.hcl
terraform.tfplan
terraform.tfstate
bot.zip
bin/
dist/
modules-dev/
artifacts/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
.ask/

website/vendor

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Keep windows files with windows line endings
*.winfile eol=crlf
